

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #2c3e50;
}

h2{
    text-align: center;
    font-variant: small-caps;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #bdc3c7;

    & span{
        color: #2980b9;
        font-size: 35px;
    }
}

.tabs{
    list-style: none;
    position: relative;
    font-family: century;


    & input[type="radio"]{
        position: absolute;
        top: -9999%;
        left: -9999%;
    }
    & input[id^="tab"] + label{
        background: #7f8c8d;
        display: inline-block;
        padding: 5px 8px;
        border-radius: 3px;
        margin-right: 10px;
        cursor: pointer;
    }
    & li{
        display: block;
        float: left;
    }
    .tab-content{
        background:#95a5a6;
        padding: 20px;
        width: 500px;
        position: absolute;
        top:28px ;
        left: 40px;
        display: none;

        & h3{
            color: #2c3e50;
        }

    }
    & input[type="radio"]:checked + label{
        background: #bdc3c7;
    } 

    & input[type="radio"]:checked + label + .tab-content{
        display: block;
    }
}