*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

.wrapper{
    position: relative;

    #back:checked ~ :is(.backdrop, .alert-box){
        opacity: 1;
        visibility: visible;
    }
    & header{
        background: #e55039;
        height: 90px;

        & h2{
            text-align: center;
            font-size: 30px;
            line-height: 32px;
            margin: 0%;
            padding: 10px;

            & span{
                color: #26b094;
            }
        }
    }
    .main-content{
        background: #2c3e50;
        padding: 20px 20px 40px 20px;


        &  {
            opacity: 1;
            visibility: visible;
        }

        & h3{
            margin-top: 0%;
            color: #ecf0f1;
            font-size: 25px;
            text-align: center;
        }
        & p{
            color: #bdc3c7;
        }
    }
    
    #back{
        display: none;
    }
    & label.back{
        background: #95a5a6;
        padding: 6px 15px;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        position: absolute;
        right: 5%;
        bottom: 1%;

        &:hover{
            background-color: #7f8c8d;
        }
    }
    & :is(.backdrop, .alert-box){
        opacity: 0;
        visibility: hidden;
    }
    .backdrop{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
    }
    .alert-box{
        width: 500px;
        height: 300px;
        background: #dbdfe0;
        position: fixed;
        top: 10%;
        left: calc(50vw - 250px );
        padding: 20px;
        z-index: 1000;


        & :is(.close, .ok){
            position: absolute;
            cursor: pointer;

        }

        & label.close{
            top:3%;
            right: 3%;
            font-size: 25px;
            padding: 0px 5px;
            margin: 0%;
            border-radius: 3px;
            color: red;

            &:hover{
                background-color: #7f8c8d;
            }
        }
        & label.ok{
            right: 8%;
            bottom: 8%;
            font-size: 18px;
            padding: 7px 12px;
            border-radius: 5px;
            background-color: #3498db;

            &:hover{
                background-color: #0d93ed;
            }
        }
        & h3{
            text-align: center;
            padding: 10px 20px;
            font-size: 25px;
            border-bottom: 1px solid #000;
        }
        & p{
            padding: 0px 20px;
        }
        
    }
}


