@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color:#777;
    font-size: 1rem;
    transition: all 100ms ease-in-out 0s;
    scrollbar-width: thin;
    scrollbar-gutter: stable both-edges ;
    
    
    & button{
        border: none;
        /* outline: none; */
    }

    & ul{
        padding: 0%;
        & li {
            list-style: none;
        }
    }
    & a{
        text-decoration: none;
        display: inline-block;
    }
}
:root{
    --btn-shadow-border:0px 0px 1px 1px rgba(128, 128, 128, 0.6);
    --boxshadow-color:128, 128, 128;
    --fade-i-color:#7777779c;
    --box-shadow: 0px 3px 10px #7777776b;
    --bg-hover:hsla(0, 0%, 83%,.4);
}
body{
    margin: 0%;
    /* min-height: 100vh; */
    width: 100%;
}
.unsplash{
    width: 100%;
    background-color: white;

    .homeNavBar{
        width: 100%;
        height: 60px;
        display: flex;
        padding: .6em .6em;
        /* padding-right: 1.5em; */
        gap: 15px;


        & button:hover{
                color: black;
            & i{
                color: black;
            }
        }
        & a{
            height: 40px;
            line-height: 40px;
        }
        & a:not(.proPlus):hover{
            color: black;
        }

        .logo{
            flex-grow: 0;
            flex-shrink: 0;
            display: flex;
            align-items: flex-end;
            & a.home{
                padding-top: 2px;
               & i.logoFont{
                    &::before{
                        display: inline-block;
                        font-size: 2.25rem;
                        color: black;
                    }
                }
            }
        }
        .nav{
            flex-grow: 1;
            display: flex;
            gap: 15px;
            
            .search{
                flex-grow: 1;
                display: flex;
                align-items: center;
                background-color: hsla(0, 0%, 83%,.4);
                border-radius: 100px;

                &:hover{
                    background-color: hsla(0, 0%, 83%,.6);
                }

                .btnSearch{
                    flex-grow: 0;
                    background-color: transparent;
                    padding: 0%;
                    height: 100%;

                    & i{
                        padding-left: 1em;
                    }
                }
                .searchInput{
                    flex-grow: 1;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    padding: 3px 3px 3px 10px;
                    color: black;
                    flex-flow: 2 1 200;

                    &::-webkit-search-cancel-button {
                        appearance: none;
                        height: 20px;
                        width: 20px;
                        padding-left: .5em;
                        margin-left: .5em;
                        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
                        background-repeat: no-repeat;
                        cursor: pointer;
                      }
                }
                .btnSearchByImage{
                    flex-grow: 0;
                    background-color: transparent;
                    height: 100%;
                    padding: 0%;
                    & i{
                        border-left: 1px solid #777;
                        margin-top: .2em;
                        padding-inline: 1em;
                        font-size: 1.5em;   
                    }
                }
            }
            .businessLinks{
                flex-grow: 0;
                flex-shrink: 0;
                margin: 0%;
                padding: 0px 15px;
                display: flex;
                align-items: center;
                gap: 15px;

                .explore{
                    position: relative;

                    &:hover{
                        .popover{
                            display: block;
                            z-index: 7;
                        }
                    }
                    .popover{
                        position: absolute;
                        width: 150px;
                        height: 135px;
                        padding: .5em 0em;
                        box-shadow: 0px 3px 10px  #7777776b;
                        scale: 1 1;
                        transform-origin: top left; 
                        display: none;
                        background-color: white;

                        @starting-style {
                            scale: 0 0;
                        }
                        
                        & a{
                            padding: 0.5em 1em;
                            display: flex;
                            align-items: center;
                            outline: none;

                            &:hover,&:focus{
                                background-color: hsla(0, 0%, 83%,.4);
                                color: black;
                            }
                        }
                    }
                    
                }
                .pro{
                    .proPlus{
                        background: linear-gradient(135deg,#fa00ff,#00e0ff 50%,#fa00ff);
                        background-size: 500%;
                        color: transparent;
                        background-clip: text;
                        animation: left-right 6s linear infinite alternate-reverse;
                        animation-play-state: paused;

                        &:hover{
                            animation-play-state: running;
                        }
                    }
                }
            }
            .separator{
                flex-grow: 0;
                flex-shrink: 0;
                width: 2px;
                height: 30px;
                background-color: #777777ac;
                margin: auto 0%;
            }
            .authenticate{
                flex-grow: 0;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                gap: 20px;
                padding-left:15px;

                .uploadImage{
                    background-color: white;
                    box-shadow: 0px 0px 1px 1px rgba(128, 128, 128, 0.6);
                    padding: .4em .7em;
                    border-radius: 3px;

                    &:hover{
                        box-shadow: 0px 0px 1px 1px rgb(0, 0, 0);
                    }
                }
            }
        }
        .sidebarToggle{
            flex-grow: 0;
            padding: 0%;
            background-color: white;
            display: flex;
            align-items: center;
            margin-left: -.5em;
            & i{
                padding: 0em 1em;
                font-size: 1.25em;
            }
        }
        .sidebar.hide{
            scale: 0 0;
        }
        .sidebar{
            box-shadow: 0px 3px 25px #7777776b;
            width: 900px;
            position: absolute;
            top: 65px;
            right: 20px;
            transform-origin: top right;
            scale: 1 1;
            background-color: white;
            z-index: 8;
    
            .sidebarBody{
                display: flex;
                gap: 10px;
                margin: 0%;
                padding: 20px 30px 30px;
                line-height: .5rem;

                & li{
                    width: 200px;
                    .header{
                        padding: .8em 0em .5em;
                        display: flex;
                        gap: 15px;
                        align-items: center;
    
                        & span{
                            width: 35px;
                            text-align: end;
                            & i{
                                font-size: 20px;
                            }
                            & i:not(.fa-building){
                                color: black;
                            }
                        }
    
                        .heading{
                            flex-grow: 1;
                            margin: 0%;
                            color: black;
                        }
                    }
                    .sidebarLinks{
                        width: 200px;
                        padding-left: 44px;
                        & li{
                            width: 160px;
                            & a{
                                width: 160px;
                                padding: .5em;
                                font-size: 14px;
                                font-weight: 500;
                            }
                        }
                        .socialLinks{
                            padding: .5em 0em;
                            display: flex;
                            & a{
                                width: 35px;
                                padding: 0%;
                                & i{
                                    font-size: 20px;
                                    padding: .5em;

                                    &:hover{
                                        color: black;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .sidebarFooter{
                position: relative;
                height: 50px;
                display: flex;
                align-items: center;
                gap: 25px;
                margin: 0%;
                padding: .85em 2em;
                border-top: 1px solid #77777780;
                .btn{
                    margin-left: auto;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    & i{
                        margin-right: 5px;
                        color: #77777784;
                    }
                }
                .langContainer.hide{
                    scale: 0 0;
                }
                .langContainer{
                    /* display: none; */
                    position: absolute;
                    top: -760%;
                    right: 4%;
                    width: 180px;
                    box-shadow: 0px 3px 25px #7777776b;
                    padding: 10px 0px;
                    z-index: 10;
                    background-color: white;
                    scale: 1 1;
                    transform-origin: bottom right;
                    transition: scale 200ms ease-out;
                    .languages{
                        display: flex;
                        flex-direction: column;
                        .title{
                            font-size: 14px;
                            margin: 0%;
                            padding: 10px 20px;
                            flex-grow: 0;
                            flex-shrink: 0;
                        }
                        .selectLang{
                            margin: 0;
                            flex-grow: 0;
                            flex-shrink: 0;
                            & li{
                                & a.selected{
                                    /* background-color: hsla(0, 0%, 83%,.4); */
                                    pointer-events: none;
                                    color: black;
                                    .check{
                                        opacity: 1;
                                    }
                                    & span{
                                        color: black;
                                    }
                                    &:hover{
                                        background-color: white;
                                        cursor: context-menu;
                                    }
                                }
                                & a{
                                    padding:10px 0px;
                                    display: flex;
                                    gap: 10px;
                                    align-items: center;
                                    padding: 10px 20px;
                        
                                    &:hover{
                                        background-color: hsla(0, 0%, 83%,.4);
                                        & span{
                                            color: black;
                                        }
                                    }
                                    .check{
                                        padding-top: 2px;
                                        font-size: 14px;
                                        color: black;
                                        font-weight: 600;
                                        opacity: 0;
                                    }
                                    & span{
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .filterContainer{
        display: flex;
        height: 60px;
        padding: 0em .6em;
        padding-right: 1em;
        border-bottom: 1px solid var(--fade-i-color);
        gap: 2rem;
        .selectContent,.contentFilter{
            flex-grow: 0;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            gap: 2rem;
    
            [data-content]{
                border-bottom: 3px solid black;
                pointer-events: none;
                & i, & span{
                    color: black;
                }
            }
            & a{
                border-bottom: 3px solid transparent;
                &:hover{
                    & i, & span{
                        color: black;
                    }
                }
            }
            & a, & button{
                height: 100%;
                display: flex;
                align-items: center;
                gap: .5em;
    
                & i{
                    color: var(--fade-i-color);
                }
            }
            .material-icons{
                font-size: 1.3rem;
            }
        }
        .contentFilter{
            gap: .5em;
            margin-left: auto;
            & button{
                height: auto;
                background-color: white;
                padding: .5em 1em ;
                padding-left: .5em;
                border-radius: .4em;
                &:hover{
                    background-color: rgba(var(--boxshadow-color),.1);
                    box-shadow: var(--btn-shadow-border);
                }
            }
            .container{
                .filterBox.hide{
                    scale: 0 0;
                }
                .filterBox{
                    width: 150px;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    padding-block: .5em;
                    box-shadow: var(--box-shadow);
                    position: absolute;
                    top: 110px;
                    scale: 1 1;
                    transform-origin: top left;
                    z-index: 6;
                
                    .head{
                        margin: 0;
                        padding-inline: 1em;
                        padding-block: .4em;
                    }
                    [data-select]{
                        pointer-events: none;
                        .material-icons.check{
                            color: black;
                            opacity: 1;
                        }
                        & span{
                            color: black;
                        }
                    }
                    & a{
                        display: flex;
                        align-items: center;
                        gap: .4em;
                        padding-inline: 1em;
                        padding-block: .4em;
                
                        &:hover{
                            background-color: hsla(0, 0%, 83%,.4);
                        }
                        & i{
                            font-size: 20px;
                            color: var(--fade-i-color);
                            opacity: 0;
                        }
                        .show{
                            opacity: 1;
                        }

                    }
                }
                .f2{
                    margin-left: 15px;
                }
                .f3{
                    margin-left: 30px;
                }
            }
            dialog.modal{    
                scrollbar-gutter: unset;
                padding: 0;
                width: clamp(200px, 80%, 80vw);
                height: 80vh;
                border-radius: 1em;
                overflow: visible;
                .form{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    .outsideBtn{
                        position: absolute; 
                        left: -60px; 
                        top: -60px; 
                        padding: .5rem;
                        background-color: transparent;
            
                        & i{
                            color: white;
                        }
                    }
                    .dialogHead{
                        padding: .5em 1em;
                        flex: 0 0 50px;
                        height: 10%;
                        border-bottom: 1px solid var(--fade-i-color);
                        display: flex;
                        align-items: center;
                        .heading{
                            margin: 0;
                        }
                    }
                    .body{
                        scrollbar-gutter: unset;
                        /* padding-block: .5rem; */
                        flex: 1 1 0;
                        overflow: auto;
                        .contain{
                            display: flex;
                            flex-direction: column;
                            padding: .5em 1em 1em;
                            &:not(&:last-child){
                                border-bottom: 1px solid var(--fade-i-color);
                            }
                            & h3{
                                margin: 0%;
                                padding: .5em 0em;
                            }
                            & a[data-select]{
                                & i, & span{
                                    opacity: 1;
                                    color: black;
                                }
                            }
                            & a{
                                padding: .5em .4em;
                                display: flex;
                                align-items: center;
                                gap: .4em;
                                & i{
                                    font-size: 20px;
                                    opacity: 0;
                                }
                                & i.ori{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    .footer{
                        padding: 1em;
                        flex: 0 0 80px;
                        display: flex;
                        gap: 1rem;
                        border-top: 1px solid var(--fade-i-color);
                        & button{
                            flex: 1 1 40%;
                            border-radius: .5rem;
                            font-size: 18px;
                            font-weight: 600;
                            cursor: not-allowed;
                            display: flex;
                            justify-content: center;
                        }
                        .close{
                            background-color: black;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }
            }
            dialog::backdrop{
                background-color: rgba(0, 0, 0, 0.606);
            }
        }
    }
    .mainContent{
        display: flex;
        flex-direction:column;
        width: 100%;
        .contentHead{
            margin: 0% auto;
            /* max-width: 1300px; */
            width: clamp(650px, 100% , 1300px);
            display: flex;
            flex-direction: column;
            padding-block:1em;
            padding-inline: .6em 1em;
            scrollbar-gutter: unset;
        
            & header{
                .contentHeading{
                    font-size: 30px;
                    color: black;
                    font-weight: 800;
                    margin-block: 0rem .8rem;
                }
            }
            .scroll{
                width: 100%;
                position: relative;
                overflow: hidden;
                scrollbar-gutter: unset;
        
                .nav{
                    display: flex;
                    gap: .5em;
                    width: 100%;
                    overflow: hidden;
                    scrollbar-gutter: unset;
                    scroll-behavior: smooth;
        
                    & li{
                        flex: 0 0 0;
                        & a{
                            text-align: center;
                            width: 150px;
                            padding: .5rem 1rem;
                            border: 1px solid var(--fade-i-color);
                            border-radius: .2em;
        
                            &:hover{
                                border: 1px solid black;
                            }
                        }
                    }
                }
        
                .before, .after{
                    width: 80px;
                    height: 50px;
                    position: absolute;
                    top: 50%;
                    display: flex;
                    align-items: center;
                    /* padding-left: 1rem; */
                    translate: 0 -50%;
                
                    & i{
                        font-size: 20px;
                    }
                }
                .after{
                    right: 0%;
                    background: linear-gradient(to right, white 70%, transparent);
                    rotate: 180deg;
                
                }
                .before{
                    left: 0%;
                    background: linear-gradient(to right, white 70%, transparent);
                    /* padding: 0; */
                }
            }
            .scroll.backward .before, .scroll.forward .after{
                opacity: 0;
                pointer-events: none;
            }
        }
        
        
        .contentBody{
            /* border: 1px solid #000; */
            align-self: center;
            --column-gutter:24px;
            --row-gutter:40px;
            scrollbar-gutter: unset;
            width: clamp(650px, 100% , 1300px);
            padding-inline: .6rem 1rem;
            display: grid;
            grid-auto-columns: 1fr;
            grid-auto-flow: column dense;
            grid-column-gap: var(--column-gutter);
        
            .flexColumn{
                display: grid;
                grid-template-columns: 1fr;
                grid-row-gap: var(--row-gutter);
                align-content: start;
                
                .figure{
                    margin: 0%;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    .imageContainer{
                        width: 100%;
                        position: relative;
                    
                        
                        .image{
                            &:hover,&:focus-within{
                                .overlay{
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                            & a{
                                display: flex;
                                /* &:focus{
                                    & + .overlay{
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                } */
                                & img{
                                    width: 100%;
                                }
                            }
                            .overlay{
                                cursor: zoom-in;
                                opacity: 0;
                                visibility: hidden;
                                /* transition: opacity 300ms ease-in-out; */
                                background: linear-gradient(0deg, #3b3b3b98 15%, transparent 50%, #3b3b3b98) 15%;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                inset: 0 0 0 0;
                                padding: .5em 1.5em;
                                display: flex;
                                flex-direction: column;
                                /* justify-content: space-between; */
    
                                /* &:focus-within{
                                    opacity: 1;
                                    visibility: visible;
                                } */
                        
                                :is( .lay1Btn, .download){
                                    & i{
                                        color: rgba(0, 0, 0, 0.6);
                                    }
                                    &:hover{
                                        background-color: white;
                                        & i{
                                            color: #000;
                                        }
                                    }
                                }
                        
                                .layer1{
                                    height: 50px;
                                    display: flex;
                                    justify-content: flex-end;
                                    gap: 8px;
                                    align-items: center;
                        
                                    .lay1Btn{
                                        padding: .3em .8em;
                                        border-radius: .4em;
                                        
                                    }
                                }
                                .layer2{
                                    margin-top: auto;
                                    height: 50px;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    gap: 10px;
                                    .user{
                                        display: flex;
                                        align-items: center;
                                        gap: 8px;
                                        line-height: 16px;
                        
                                        .profile{
                                            & a{
                                                & img{
                                                    width: 40px; 
                                                    aspect-ratio: 1/1; 
                                                    object-fit: cover; 
                                                    object-position: top; 
                                                    border-radius: 50%;
                                                }
                                            }
                                        }
                        
                                        .about{
                                            & a{
                                                color: rgba(255, 255, 255, 0.9);
                                                &:hover{
                                                    color: white;
                                                }
                                            }
                                            & p{
                                                margin: 0%;
                                                padding-left: .2em;
                                                font-size: 14px;
                                                color: rgba(255, 255, 255, 0.8)
                                            }
                                        }
                                    }
                                    .download{
                                        padding: .5em .8em;
                                        background-color: buttonface;
                                        border-radius: .4em;
                                        margin-left: auto;
                        
                                        &:hover{
                                            background-color: white;
                                        } 
                                            
                                    }
                                }
                            }
                        }
                    }
                    .caption{
                        display: flex;
                        gap: 10px;
    
                        & a{
                            padding: .25em .5em;
                            background-color: var(--bg-hover);
                            border-radius: .3em;
                            font-size: 14px;
                            color: rgba(0, 0, 0, 0.8);
                            text-transform: capitalize;
    
                            &:hover{
                                background-color: rgba(var(--boxshadow-color),.2);
                                color: black;
                            }
                        }
                    }
                }
            }
        }
        .contentBody.makeFlex{
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        .contentFooter{
            width: 100%;
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            .loadMore{
                width: clamp(800px, 100% , 1300px);
                height: 65px;
                font-size: 18px;
                align-self: center;
                border: 1px solid rgba(var(--boxshadow-color),.5);
                box-shadow: var(--box-shadow);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: .4em;
    
                &:hover{
                    border: 1px solid #000;
                    color: #000;
                }
            }
            .empty{
                width: 100%;
                height: 100px;
            }
        }
        .pageEnd{
            width: 100%;
            /* height: 80px; */
            padding-block: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & a{
                & i{
                    font-size: 2.25rem;
                    color: #000;
                }
            }
        }
    }
}
    

@keyframes left-right {
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 0% 0%;
    }

}

@media screen and (max-width:1050px){
    :is(.businessLinks,.separator){
        display: none !important;
    }
    .sidebar{
        width: 300px !important;
        .sidebarBody{
            flex-direction: column;
            & li{
                width: 100% !important;
                .header{
                    &:hover{
                        cursor: pointer;
                    }
                    .material-icons{
                        transition: rotate 300ms ease-in-out;
                    }
                    .expand{
                        display: block;
                    }
                }
                .sidebarLinks{
                    height: 0px;
                    transition: height 400ms ease-in-out;
                    overflow: hidden;
                    li:last-child{
                        padding-bottom: .8em;
                    }
                }
            }
        }
        .sidebarFooter{
            flex-direction: column;
            height: min-content !important;
            padding: 1.3em 1.6em 1em !important;
            font-size: .9em !important;
            justify-items: center;
            gap: 0 !important;
            .footerLinks.btns{
                display: flex;
                justify-content: center;
                gap: .8em;
                margin: 0% !important;
                padding-bottom: .5em;

                & button{
                    background-color: white;
                    padding-inline: 1em;
                    padding-block: .3em;
                    box-shadow:var(--btn-shadow-border);
                    border-radius: .4em;

                    &:hover{
                        background-color: rgba(var(--boxshadow-color),.1);
                    }
                }
                
            }
            .footerLinks{
                margin-bottom: auto !important;
                & a{
                    text-decoration: underline;
                }
            }
        }
    }
    /* .filterContainer{

    } */
    .mainContent{
        .contentBody{
            .col3{
                display: none !important;
            }
        }
    }
}
@media screen and (max-width:700px){
    .authenticate{
        display: none !important;
    }

    .mainContent{
        .contentBody{
            .col3{
                display: initial !important;
            }
        }
    }
}

