[data-container] {
    width: 400px;
    box-sizing: border-box;

    [data-item] {
        background-color: tan;

        [data-title] {
            background-color: red;
            color: white;
            padding: 10px 20px;
            position: relative;
            transition: background-color 500ms ease 0s;

            & h2 {
                margin: 0%;
            }

            &:hover {
                background-color: brown;
            }

            &::after {
                content: "\f105";
                position: absolute;
                top: 12px;
                right: 15px;
                font-family: fontawesome;
                font-size: 25px;
                rotate: 0deg;
                transition: rotate 400ms ease 0s;
            }
        }

        [data-title].rotate::after {
            rotate: 90deg;
        }

        [data-content] {
            border-bottom: 10px solid #ffffff;
            height: 0px;
            overflow: hidden;
            transition: height 500ms ease 0s;

            & h3,
            p {
                margin: 0%;
                padding: 15px;
            }

            & p {
                padding-top: 0px;
            }
        }

        [data-content].override {
            border-bottom: 10px solid tan;

            & h3,
            p {
                margin: 0%;
                padding: 15px;
            }

            & p {
                padding-top: 0px;
            }
        }

    }
}