*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0%;
    font-size: 4rem;
}

[data-carouselContainer]{
    position: relative;
    width: 100vw;
    height: 350px;

    [data-carouselbutton],
    [data-carouselbutton]{
        position: absolute;
        top: 50%;
        z-index: 2;
        translate:0 -50% ;
        color: white;
        background-color: rgba(0, 0, 0, .1);
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 20px;
        line-height: 20px;
        border: 0px solid #000;

        &:focus,
        &:hover{
            background-color: rgba(0, 0, 0, .2);
            outline: 1px solid black;
        }
    }
    [data-carouselbutton]:nth-child(1){
        left: 2rem;
    }
    [data-carouselbutton]:nth-child(2){
        right: 2rem;
    }

    [data-slideContainer]{
        position: absolute;
        inset: 0;
        margin: 0%;
        padding: 0%;
        list-style: none;

        [data-slide]{
            position: absolute;
            inset: 0;
            opacity: 0;
            
            & a{
                display: block;
                height: 350px;
                & img{
                    width: 100vw;
                    height: 350px;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        [data-slide][data-active]{
            opacity: 1;
        }
    }
}



