*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --baseWidth:1000px;
}

body{
    background-color: #4b4b4b;
}

[data-mainContent]{
    width: var(--baseWidth);
    background-color: #3d3d3d;
    color: white;
    overflow: hidden;

    [data-tabLinks]{
        width: var(--baseWidth);
        display: flex;

        [data-visibleTabs]{
            flex-shrink: 0;
            display: flex;
            flex-flow: row nowrap;

            [data-singleTab]{
                display: flex;
                background-color: white;
                color: darkblue;
                border: 4px solid darkblue;
                border-radius: 6px 6px 1px 1px;
    
                &:hover{
                    background-color: darkblue;
                    color: white;
    
                    [data-closeTab]{
                        opacity: 1;
                    }
    
                }
    
                & button{
                    font-size: 25px;
                    font-weight: 600;
                    border: 0px solid #000;
                    background-color: inherit;
                    color: inherit;
                    padding: 3px 4px ;
                }
                [data-tab]{
                    padding-right: 20px;
                }
                [data-closeTab]{
                    padding: 0px 5px;
                    /* margin: 2px 5px; */
                    color: inherit;
                    border-radius: 4px;
                    opacity: 0;
                    font-size: 20px;
                    &:hover{
                        background-color: #827979;
                    }
                }
            }
            .active{
                background-color: darkblue;
                color: white;
            }
        }

        [data-openNewTab]{
            & i{
                margin: 5px 5px;
                padding: 1px 3px;
                font-size: 25px;
                border-radius: 3px;


                &:hover{
                    background-color: whitesmoke;
                    color: #3a3a3a;
                }
            }
        }
    }
    [data-visibleContents]{
        width: var(--baseWidth);

        [data-content]{
            font-size: 20px;
            padding: 20px;
            line-height: 28px;
            & h3{
                margin: 0%;
                font-size: 28px;
            }
        }
    }
}