*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --light-hsl:200,100%,50%;
    --normal-hsl:200, 50%,80%;
    --dark-hsl:200,100%,5%;
}
body{
    margin: 0%;
    width: 100vw;
    height: 100vh;
    background-image: url("images/loginBg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    [data-form]{
        position: relative;
        background-color: hsl(var(--dark-hsl), .6);
        display: flex;
        flex-direction: column;
        padding:40px 30px ;
        gap: 20px;
        width: clamp(350px,80%,600px);
        box-shadow: 0 0 25px 0 hsl(var(--dark-hsl), .8);
        border-radius: 10px;

        [data-heading]{
            margin: 0%;
            font-size: 2.5rem;
            text-align: center;
            color: white;
            font-weight: normal;
            margin-bottom: 20px;
        }
        :is([data-email], [data-password]){
            display: flex;
            flex-direction: column;
            gap: 10px;

            /* & input[type="email"]:valid{
                & + span {
                    opacity: 1;
                }
            } */
            :is([for],[data-valid],[data-invalid]){
                font-size: 25px;
                color: white;
            }
            :is([data-valid],[data-invalid]){
                opacity: 0;
                user-select: none;
                font-weight: 600;
            }
            [data-valid]{
                color: hsl(100, 100%, 50%, 0.5);
                text-shadow: 1px 1px 1px gray;
            }
            [data-invalid]{
                color: hsl(0, 100%, 60%,0.8);
                text-shadow: 1px 1px 1px gray;
            }
            [type]{
                height: 40px;
                background-color: hsl(var(--normal-hsl),0.4);
                border: none;
                outline: none;
                font-size: 25px;
                border-radius: 6px;
                font-weight: 600;
                color: rgba(245, 245, 245, 0.8);
                padding-left: 10px;
                padding-right: 55px;
                text-shadow: 2px 2px 2px black;

                :is(&:hover,&:focus){
                    box-shadow: 0 0 0 3px hsl(100, 100%, 50%, 0.5);
                    background-color: hsl(var(--normal-hsl),0.6);
                }
            }
            [data-showpassword]{
                position: absolute;
                top: 63%;
                right: 8%;
                color: white;
                font-size: 25px;
                text-shadow: 2px 2px 2px gray;
            }
            & input:autofill{
                text-shadow: none;
            }
        }
        
        [data-login-button]{
            height: 50px;
            border: none;
            outline: none;
            font-size: 2rem;
            border-radius: 6px;
            font-weight: 600;
            background-color: hsl(var(--light-hsl),.5);
            color: rgba(255, 255, 255, 0.8);
            padding-bottom: 5px;

            :is(&:hover,&:focus){
                box-shadow: 0 0 0 3px hsl(var(--light-hsl),.8);
                background-color: hsl(var(--light-hsl),.6);
            }
        }
    }
}
